@page "/formularioProducto"

@using Supermercado.DAO;
@using Supermercado.Data;

<form class="form-group col-md-12">
    <h3>Formulario de creacion de productos</h3>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputArea">Area</label>
            <select id="inputArea" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEAN">EAN</label>
            <input @bind="ean" type="number" class="form-control" id="inputEAN" placeholder="987654321">
        </div>
    </div>
    <div class="form-row">
        <label for="inputDescripcion">Descripcion</label>
        <input @bind="descripcion" type="text" class="form-control" id="inputDescripcion" placeholder="Arroz Tio Pelon">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPrecio">Precio</label>
            <input @bind="precio" type="number" step="0.01" class="form-control" id="inputPrecio" placeholder="1000.5">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCantidad">Cantidad</label>
            <input @bind="cantidad" type="number" class="form-control" id="inputCantidad" placeholder="50">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <fieldset>
                <legend>¿Es un producto fresco?</legend>
                <label>
                    <input type="radio" name="boolFresco" @onclick="@(() => estadoFrescoTrue())"> Si
                </label>
                <label>
                    <input type="radio" name="boolFresco" @onclick="@(() => estadoFrescoFalse())" checked> No
                </label>
            </fieldset>
        </div>
    </div>
    @if (esFresco)
    {
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPLU">PLU</label>
                <input @bind="PLU" type="number" class="form-control" id="inputPLU" placeholder="100" min="1">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPeso">Peso en gramos</label>
                <input @bind="peso" type="number" step="0.01" class="form-control" id="inputPeso" placeholder="50.5" min="1">
            </div>
        </div>
    }
    <button @onclick="insertarProducto" type="submit" class="btn btn-primary">Crear</button>
</form>

@code {
    private long ean;
    private string descripcion;
    private float precio;
    private int cantidad;
    private bool esFresco = false;
    private int PLU;
    private int peso;

    private void insertarProducto()
    {
        Producto p = new Producto(31, 1, ean, descripcion, precio, cantidad);
        CRUD crud = new CRUD();
        crud.insertarProducto(p);
        if (esFresco)
        {
            ProductoFresco f = new ProductoFresco(p, 100, PLU, peso);
            crud.insertarProductoFresco(f);
        }
    }

    public void estadoFrescoTrue()
    {
        esFresco = true;
    }

    public void estadoFrescoFalse()
    {
        esFresco = false;
    }
}
