@page "/formularioArea"
@inject Blazored.LocalStorage.ILocalStorageService iLocalStorage
@inject NavigationManager NavigationManager


@using Supermercado.DAO;
@using Supermercado.Data;

<form class="form-group col-md-12">
    <h3>Formulario de creacion de areas</h3>
    <div class="form-row">
        <label for="inputDescripcion">Descripcion</label>
        <input @bind="descripcion" type="text" class="form-control" minlength="1" id="inputDescripcion" placeholder="Tecnologia" required>
    </div>
    @if (!string.IsNullOrWhiteSpace(descripcion))
    {
        <button @onclick="insertarArea" type="submit" class="btn btn-primary">Crear</button>
    }
    else
    {
        <button @onclick="insertarArea" type="submit" class="btn btn-primary" disabled>Crear</button>
    }
</form>

@code {
    private string descripcion;
    Usuario userSessionValue = new Usuario();

    protected override async Task OnInitializedAsync()
    {
        userSessionValue = await iLocalStorage.GetItemAsync<Usuario>("SessionValue");

    }

    private void insertarArea()
    {
        Area a = new Area(0, descripcion);
        CRUD crud = new CRUD();
        crud.insertarArea(a);
    }
}
