@page "/"
@inject Blazored.LocalStorage.ILocalStorageService iLocalStorage

<h1>Sistema de Inventario de Supermercado</h1>


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
