@page "/modificarArea/{id:int}"
@inject Blazored.LocalStorage.ILocalStorageService iLocalStorage
@inject NavigationManager NavigationManager


@using Supermercado.DAO;
@using Supermercado.Data;

<form class="form-group col-md-12">
    <h3>Formulario de modificacion de area</h3>
    <div class="form-row">
        <label for="inputDescripcion">Descripcion</label>
        <input @bind-value="descripcion" type="text" class="form-control" id="inputDescripcion" placeholder="Tecnologia" required>
    </div>
    @if (!string.IsNullOrWhiteSpace(descripcion))
    {
        <button @onclick="modificarArea" type="submit" class="btn btn-primary">Modificar</button>
    }
    else
    {
        <button @onclick="modificarArea" type="submit" class="btn btn-primary" disabled>Modificar</button>
    }
</form>

@code {
    Usuario userSessionValue = new Usuario();

    protected override async Task OnInitializedAsync()
    {
        userSessionValue = await iLocalStorage.GetItemAsync<Usuario>("SessionValue");
        cargarDatos();
    }

    [Parameter]
    public int id { get; set; }
    private string descripcion;

    public void cargarDatos()
    {
        Area a = new Area();
        CRUD crud = new CRUD();
        a = crud.areaPorId(id);
        crud.agregarLogMovimiento(userSessionValue.IdUsuario, userSessionValue.NombreUsuario, "AREA", "SELECT", "SELECCIONAR AREAS POR ID");
        descripcion = a.descripcion;
    }

    private void modificarArea()
    {
        Area a = new Area(id, descripcion);
        CRUD crud = new CRUD();
        crud.actualizarArea(a);
        crud.agregarLogMovimiento(userSessionValue.IdUsuario, userSessionValue.NombreUsuario, "AREA", "UPDATE", "ACTUALIZAR AREAS POR ID");
    }


}
