@page "/modificarProducto/{id:int}"
@inject Blazored.LocalStorage.ILocalStorageService iLocalStorage


@using Supermercado.DAO;
@using Supermercado.Data;

<form class="form-group col-md-12">
    <h3>Formulario de modificacion de producto</h3>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputArea">Area</label>
            @if (userSessionValue.Area != null && userSessionValue.Rol.IdRol == 3)
            {
                <select id="inputArea" class="form-control" @bind="idArea" required>
                    @foreach (var area in listarAreas())
                    {
                        <option value="@area.idArea">@area.descripcion</option>
                    }
                </select>
            }
            else
            { <select disabled id="inputArea" class="form-control" @bind="idArea" required>
                    @foreach (var area in listarAreas())
                    {
                        <option value="@area.idArea">@area.descripcion</option>
                    }
                </select>}
        </div>
        <div class="form-group col-md-6">
            <label for="inputEAN">EAN</label>
            @if (userSessionValue.Area != null && userSessionValue.Rol.IdRol == 3)
            {
                <input @bind-value="ean" type="number" class="form-control" id="inputEAN" min="1" step="1" required>
            }
            else
            {
                <input disabled @bind-value="ean" type="number" class="form-control" id="inputEAN" min="1" step="1" required>
            }
        </div>
    </div>
    <div class="form-row">
        <label for="inputDescripcion">Descripcion</label>
            <input @bind-value="descripcion" type="text" class="form-control" id="inputDescripcion" placeholder="Arroz Tio Pelon" required>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPrecio">Precio en colones</label>
            @if (userSessionValue.Area != null && userSessionValue.Rol.IdRol == 3)
            {
                <input @bind-value="precio" type="number" class="form-control" id="inputPrecio" step="1" min="1" required>
            }
            else
            {
                <input disabled @bind-value="precio" type="number" class="form-control" id="inputPrecio" step="1" min="1" required>
            }
        </div>
        <div class="form-group col-md-6">
            <label for="inputCantidad">Cantidad</label>
            <input @bind-value="cantidad" type="number" class="form-control" id="inputCantidad" min="1" step="1" required>
        </div>
    </div>
    @if (plu != 0 && peso != 0)
    {
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPlu">PLU</label>
                @if (userSessionValue.Area != null && userSessionValue.Rol.IdRol == 3)
                {
                    <input @bind-value="plu" type="number" class="form-control" id="inputPlu" placeholder="1000" step="1" min="1" required>
                }
                else
                {
                    <input disabled @bind-value="plu" type="number" class="form-control" id="inputPlu" placeholder="1000" step="1" min="1" required>
                }
            </div>
            <div class="form-group col-md-6">
                <label for="inputPeso">Peso</label>
                @if (userSessionValue.Area != null && userSessionValue.Rol.IdRol == 3)
                {
                    <input @bind-value="peso" type="number" class="form-control" id="inputPeso" placeholder="50" step="1" min="1" required>
                }
                else
                {
                    <input disabled @bind-value="peso" type="number" class="form-control" id="inputPeso" placeholder="50" step="1" min="1" required>
                }
            </div>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(descripcion))
    {
        <button @onclick="modificarProducto" type="submit" class="btn btn-primary">Modificar</button>
    }
    else
    {
        <button @onclick="modificarProducto" type="submit" class="btn btn-primary" disabled>Modificar</button>
    }
</form>

@code {
    [Parameter]
    public int id { get; set; }
    public int idArea;
    private long ean;
    private string descripcion;
    private float precio;
    private int cantidad;
    private int plu = 0;
    private float peso = 0;
    Usuario userSessionValue = new Usuario();

    protected override async Task OnInitializedAsync()
    {
        userSessionValue = await iLocalStorage.GetItemAsync<Usuario>("SessionValue");
        cargarDatos();
    }

    public void cargarDatos()
    {
        Producto p = new Producto();
        ProductoFresco f = new ProductoFresco();
        CRUD crud = new CRUD();
        p = crud.productoPorId(id);
        f = crud.productoFrescoPorId(id);

        crud.agregarLogMovimiento(userSessionValue.IdUsuario, userSessionValue.NombreUsuario, "PRODUCTO", "SELECT", "SELECCIONAR PRODUCTO");
        crud.agregarLogMovimiento(userSessionValue.IdUsuario, userSessionValue.NombreUsuario, "PRODUCTOFRESCO", "SELECT", "SELECCIONAR INFORMACION FRESCO");
        idArea = p.idArea;
        ean = p.ean;
        descripcion = p.descripcion;
        precio = p.precio;
        cantidad = p.cantidad;
        if (f != null)
        {
            plu = f.PLU;
            peso = f.Peso;
        }
    }

    private void modificarProducto()
    {
        Producto p = new Producto(id, idArea, ean, descripcion, precio, cantidad);
        CRUD crud = new CRUD();
        if (ean != 0)
        {
            crud.actualizarProducto(p);
            crud.agregarLogMovimiento(userSessionValue.IdUsuario, userSessionValue.NombreUsuario, "PRODUCTO", "UPDATE", "ACTUALIZAR PRODUCTO");
        }
        if (plu != 0 && peso != 0 && ean != 0)
        {
            ProductoFresco f = new ProductoFresco(p, 0, plu, peso);
            crud.agregarLogMovimiento(userSessionValue.IdUsuario, userSessionValue.NombreUsuario, "PRODUCTOFRESCO", "UPDATE", "ACTUALIZAR INFORMACION FRESCO");
            crud.actualizarProductoFresco(f);
        }
    }

    private List<Area> listarAreas()
    {
        CRUD crud = new CRUD();
        crud.agregarLogMovimiento(userSessionValue.IdUsuario, userSessionValue.NombreUsuario, "AREA", "SELECT", "SELECCIONAR AREAS");
        return crud.listarAreas();
    }

}
