@page "/modificarProducto/{id:int}"

@using Supermercado.DAO;
@using Supermercado.Data;

<form class="form-group col-md-12">
    <h3>Formulario de modificacion de producto</h3>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputArea">Area</label>
            <select id="inputArea" class="form-control" @bind="idArea" required>
                @foreach (var area in listarAreas())
                {
                    <option value="@area.idArea">@area.descripcion</option>
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEAN">EAN</label>
            <input @bind-value="ean" type="number" class="form-control" id="inputEAN" placeholder="987654321" required>
        </div>
    </div>
    <div class="form-row">
        <label for="inputDescripcion">Descripcion</label>
        <input @bind-value="descripcion" type="text" class="form-control" id="inputDescripcion" placeholder="Arroz Tio Pelon" required>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPrecio">Precio</label>
            <input @bind-value="precio" type="number" step="0.01" class="form-control" id="inputPrecio" placeholder="1000" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputCantidad">Cantidad</label>
            <input @bind-value="cantidad" type="number" class="form-control" id="inputCantidad" placeholder="50" required>
        </div>
    </div>
    @if (plu != 0 && peso != 0)
    {
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPlu">PLU</label>
                <input @bind-value="plu" type="number" class="form-control" id="inputPlu" placeholder="1000" min="1" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPeso">Peso</label>
                <input @bind-value="peso" type="number" class="form-control" step="1.01" id="inputPeso" placeholder="50" min="1" required>
            </div>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(descripcion))
    {
        <button @onclick="modificarProducto" type="submit" class="btn btn-primary">Crear</button>
    }
    else
    {
        <button @onclick="modificarProducto" type="submit" class="btn btn-primary" disabled>Crear</button>
    }
</form>

@code {
    [Parameter]
    public int id { get; set; }
    public int idArea;
    private long ean ;
    private string descripcion;
    private float precio;
    private int cantidad;
    private int plu = 0;
    private float peso = 0;

    public void cargarDatos()
    {
        Producto p = new Producto();
        ProductoFresco f = new ProductoFresco();
        CRUD crud = new CRUD();
        p = crud.productoPorId(id);
        f = crud.productoFrescoPorId(id);
        idArea = p.idArea;
        ean = p.ean;
        descripcion = p.descripcion;
        precio = p.precio;
        cantidad = p.cantidad;
        if (f!=null)
        {
            plu = f.PLU;
            peso = f.Peso;
        }
    }

    private void modificarProducto()
    {
        Producto p = new Producto(id, idArea, ean, descripcion, precio, cantidad);
        CRUD crud = new CRUD();
        crud.actualizarProducto(p);
        if (plu != 0 && peso != 0)
        {
            ProductoFresco f = new ProductoFresco(p, 0, plu, peso);
            crud.actualizarProductoFresco(f);
        }
    }

    private List<Area> listarAreas()
    {
        CRUD crud = new CRUD();
        return crud.listarAreas();
    }

    protected override async Task OnInitializedAsync()
    {
        cargarDatos();
    }
}
